.cf {
  max-width: 800px;
  margin: auto;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}

textarea {
  min-height: 150px;
  resize: none;
}

#input-submit {
  background: #38bdf8;
  color: black;
  font-weight: bold;
  transition: 0.3s;
}

#input-submit:hover {
  background: #0ea5e9;
}
