.footer {
  width: 100%;
  padding: 25px 10%;
  background-color: #0b1120;
  border-top: 1px solid #1e293b;
  text-align: center;
  margin-top: 60px;
}

.footer p {
  font-size: 0.9rem;
  color: #94a3b8;
  letter-spacing: 0.5px;
}

/* Effet subtil au hover */
.footer p:hover {
  color: #38bdf8;
  transition: 0.3s ease;
}
